<div class="map-container">
  <h2>CHOOSE YOUR NEXT LOCATION</h2>
  <button id="place-button-one" type="click" name="button" (click)="goToIslandOne()">General Store</button>
  <button id="place-button-two" type="click" name="button" (click)="goToIslandTwo()">Wasteland</button>
  <button id="place-button-three" type="click" name="button"(click)="goToIslandThree()">Here</button>
  <button id="place-button-four" type="click" name="button"(click)="goToIslandFour()">There</button>
</div>


<div id="output">

</div>
