.island-one-container {
  background-image: url('../../assets/img/island-one.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  margin: 20px 20px;
  padding: 20px 20px;
  width: 100vw;
  height: 75vh;
}
