<div class="home-container">
  <h2>Island Life: Tale of Treachery and </h2>
  <p>Our game is here to confuse you. </p>
  <form class="form-name-input">
    <label for="user-player-name">Enter Player Name: </label>
    <input type="text" name="user-player-name" #playerName>
    <div class="points-setup">
      <h2>Points <span class="points-left"> </span></h2>
      <div class="perk-row strength">
        <h3 name="strength">Strength</h3>
        <h5 class="strength-number"> </h5>
        <div class="button-container">
          <button type="button" name="button"> Add + </button>
          <button type="button" name="button"> Subtract - </button>
        </div>
      </div>
      <div class="perk-row intelligence">
        <h3 name="intelligence">intelligence</h3>
        <h5 class="intelligence-number"> </h5>
        <div class="button-container">
          <button type="button" name="button"> Add + </button>
          <button type="button" name="button"> Subtract - </button>
        </div>
      </div>
      <div class="perk-row agility">
        <h3 name="agility">agility</h3>
        <h5 class="agility-number"> </h5>
        <div class="button-container">
          <button type="button" name="button"> Add + </button>
          <button type="button" name="button"> Subtract - </button>
        </div>
      </div>
      <div class="perk-row luck">
        <h3 name="luck">luck</h3>
        <h5 class="luck-number"> </h5>
        <div class="button-container">
          <button type="button" name="button"> Add + </button>
          <button type="button" name="button"> Subtract - </button>
        </div>
      </div>
      <div class="perk-row endurance">
        <h3 name="endurance">endurance</h3>
        <h5 class="endurance-number"> </h5>
        <div class="button-container">
          <button type="button" name="button"> Add + </button>
          <button type="button" name="button"> Subtract - </button>
        </div>
      </div>
      <div class="perk-row perception">
        <h3 name="perception">perception</h3>
        <h5 class="perception-number"> </h5>
        <div class="button-container">
          <button type="button" name="button"> Add + </button>
          <button type="button" name="button"> Subtract - </button>
        </div>
      </div>
    </div>
    <button type="submit" name="button" (click)="createUserName(playerName.value); playerName.value='';">Make New User</button>
  </form>
</div>
<p>Find your newly created user name or previously saved player below. Click name to start game.</p>
<div class="existing-users" *ngFor="let user of Users | async">
  <li (click)='goToCharacterProgress(user)'>{{user.name}}</li>
  <li>{{user.$key}}</li>
  <ul>
    <li>PERKS</li>
    <li> Strength: {{user.perks.strength}}</li>
    <li> Intelligence: {{user.perks.intelligence}}</li>
    <li> Agility: {{user.perks.agility}}</li>
    <li> Luck: {{user.perks.luck}}</li>
    <li> Endurance: {{user.perks.endurance}}</li>
    <li> Perception: {{user.perks.perception}}</li>
  </ul>
  <li> Place in Game: {{user.place}}</li>
  <li> List of Inventory: {{user.inventory}}</li>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
















  <ul>
    <li>{{(userToDisplay | async)?.name}}</li>
    <!-- <li>{{(userToDisplay | async)?.$key}}</li> -->
    <ul>
      <!-- <li>PERKS</li>
      <li> Strength: {{(userToDisplay | async)?.perks.strength}}</li>
      <li> Intelligence: {{(userToDisplay | async)?.perks.intelligence}}</li>
      <li> Agility: {{(userToDisplay | async)?.perks.agility}}</li>
      <li> Luck: {{(userToDisplay | async)?.perks.luck}}</li>
      <li> Endurance: {{(userToDisplay | async)?.perks.endurance}}</li>
      <li> Perception: {{(userToDisplay | async)?.perks.perception}}</li> -->
    </ul>
    <li> Place in Game: {{(userToDisplay | async)?.place}}</li>
    <li> List of Inventory: {{(userToDisplay | async)?.inventory}}</li>
  </ul>
